:root {
  --TRANSITION: 250ms ease-in-out;
}
html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-image: url("../components/img/kelly-sikkema-4TBOXap8qg4-unsplash.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
  color: white;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.wrapper {
  height: 100vh;
  width: 100%;
  max-width: 48rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper_input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
input {
  padding: 0.8rem;
  border: 1px solid #d8d9da;
  border-radius: 5px;
  flex-grow: 1;
  height: 45px;
  min-height: 45px;
  font-size: 1.3rem;
}

.wrapper_input svg {
  color: #33b5e5;
  display: block;
  font-size: 1rem;
  width: 50px;
  min-width: 50px;
  height: 42px;
  cursor: pointer;
}
.wrapper_input:hover > svg > path,
.wrapper_input:focus > svg > path {
  fill: #0099cc;
}
.wrapper_input:hover > svg > path,
.wrapper_input:focus > svg > path {
  transition: fill var(--TRANSITION);
}

/* .wrapper_task {
    margin-top: 4rem;
    width: 100%;
    max-width: 48rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .task {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .task p {
    border-radius: 5px;
    padding: 1rem;
    background-color: #88afee;
    font-size: 1.3rem;
    flex-grow: 1;
  }
  
  .task_svg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .task svg {
    font-size: 1rem;
    width: 40px;
    min-width: 40px;
    height: 34px;
    cursor: pointer;
  }
  .del_svg {
    color: #ff4444;
  }
  .edit_svg {
    color: #ffbb33;
  }
  .del_svg:hover > path,
  .del_svg:focus > path {
    fill: #cc0000;
  }
  .edit_svg:hover > path,
  .edit_svg:focus > path {
    fill: #ff8800;
  } */

@media screen and (max-width: 500px) {
  .wrapper {
    width: 20rem;
    max-width: 20rem;
  }
  .wrapper_input {
    gap: 5px;
  }
  input {
    padding: 0.5rem;
    height: 40px;
    min-height: 40px;
    font-size: 0.9rem;
  }
  .wrapper_input svg {
    width: 46px;
    min-width: 46px;
    height: 36px;
  }

  /* .task {
      gap: 5px;
    }
    .task p {
      padding: 0.5rem;
      font-size: 0.9rem;
    }
    .task_svg {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .task svg {
      font-size: 0.5rem;
      width: 32px;
      min-width: 32px;
      height: 26px;
      cursor: pointer;
    } */
}
@media screen and (max-width: 778px) {
  .wrapper {
    padding: 1rem;
  }
}
